@font-face {
    font-family: 'YandexSansDisplay-Light';
    src: url('../fonts/YandexSansDisplay-Light/YandexSansDisplay-Light.eot');
    src: url('../fonts/YandexSansDisplay-Light/YandexSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YandexSansDisplay-Light/YandexSansDisplay-Light.woff') format('woff'),
        url('../fonts/YandexSansDisplay-Light/YandexSansDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YandexSansText-Regular';
    src: url('../fonts/YandexSansText-Regular/YandexSansText-Regular.eot');
    src: url('../fonts/YandexSansText-Regular/YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YandexSansText-Regular/YandexSansText-Regular.woff') format('woff'),
        url('../fonts/YandexSansText-Regular/YandexSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}